<mat-card class="profile-header">

    <button (click)="getBack()" [matMenuTriggerFor]="nameMenu" class="button-left-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>arrow_back</mat-icon>
    </button>


    <div class="profile-img-container">
        <img class="profile-img" src={{user.image}} alt=""> 
        <button (click)="openImgDialog()" class="button-profile" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

    <div *ngIf="user" class="header-infos">
        <h1>{{ user.company }}</h1>
        <p></p>
    </div>

    <button (click)="openDeleteUserDialog()" class="button-delete" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>delete</mat-icon>
    </button>
    
    <button [matMenuTriggerFor]="nameMenu" class="button-right-bottom-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #nameMenu="matMenu">
        <button (click)="openNameDialog()" mat-menu-item>Edit</button>
    </mat-menu>
    
</mat-card>




<mat-card class="profile-information">
    
    <mat-card-header>
        <mat-card-title>CONTACT PERSON</mat-card-title>
        <button [matMenuTriggerFor]="contactPersonMenu" class="button-right-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #contactPersonMenu="matMenu">
            <button (click)="openContactPersonDialog()" mat-menu-item>Edit</button>
        </mat-menu>

    </mat-card-header>

    <mat-card-content class="profile-address">
        <b>{{user.firstName}} {{user.lastName}}</b> <br>
        {{ user.mail }} <br>
        {{ user.phone }}
    </mat-card-content>
    
</mat-card>





<mat-card class="profile-information mt-35">
    
    <mat-card-header>
        <mat-card-title>ADDRESS</mat-card-title>
        <button [matMenuTriggerFor]="addressMenu" class="button-right-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #addressMenu="matMenu">
            <button (click)="openAddressDialog()" mat-menu-item>Edit</button>
        </mat-menu>

    </mat-card-header>

    <mat-card-content class="profile-address">
        {{user.street}} <br>
        {{ user.zipCode }} {{ user.city }} <br>
        {{ user.country }}
    </mat-card-content>
    
</mat-card>





<mat-card class="profile-information mt-35">
    
    <mat-card-header>
        <mat-card-title>CONTACTS</mat-card-title>
        <button (click)="openAddContactDialog()" class="button-right-corner" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>add</mat-icon>
        </button>


    </mat-card-header>

    <mat-card-content class="contacts-area">

        @for (contact of contacts; track user.mail) {
            <mat-card (click)="openShowContactDialog(contact)" class="contact-card">
                {{ contact.contactDate | date:'dd.MM.yyyy' }} <br>
                <img class="channel-img" [src]="getChannelIcon(contact.channel)" alt="">
              </mat-card>
        } 

    </mat-card-content>
    
</mat-card>