<mat-drawer-container class="mat-drawer-container" autosize>



  <!-- SIDEBAR -->
  
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo">
      <img src="../assets/logo-crm.png" alt="">
    </div>
    <ul>
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>Clients</li>
    </ul>
  </mat-drawer>

  <!-- TOP BAR -->

  <div class="sidenav-content">
    <mat-toolbar>
      
        <button mat-icon-button (click)="drawer.toggle()" class="icon">
          <mat-icon>menu</mat-icon>
        </button>
        
        <span>SIMPLE CRM</span>
    </mat-toolbar>

    <!-- ROUTER CONTENT -->
    
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>

