.example-spacer {
    flex: 1 1 auto;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .mat-drawer-container {
    height: 100vh;
  }

  .sidenav {
    width: 300px;
  }

  .logo {
    border-bottom: 1px solid rgba(228,228,228,1);
    padding: 16px;
  }

  .mat-drawer img {
    width: 200px;
  }

  .icon {
    cursor: pointer;
    background-color: none;
  }

  ul {
    list-style-type: none;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-top: 20px;
    > li {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        padding: 20px;
        cursor: pointer;
        &:hover {
            background-color: rgba(246, 246, 246, 1);
        };
        &:focus {
            background-color: rgba(228,228,228,1);
        };
        &.active {
          background-color: rgba(228, 228, 228, 1); 
        }
        mat-icon {
            font-size: 36px;
            width: 36px;
            height: 36px;
            color: darkgray
        }
    }
  }

  .router-container {
    padding: 16px 56px 0 56px;
  }