.example-spacer {
    flex: 1 1 auto;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .mat-drawer-container {
    height: 100vh;
  }

  .sidenav {
    width: 300px;
  }

  .mat-drawer img {
    width: 200px;
  }

  .icon {
    cursor: pointer;
    background-color: none;
  }