<mat-drawer-container class="mat-drawer-container" autosize>



  <!-- SIDEBAR -->
  
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">

    <div class="sidenav-top">
      <div (click)="goToDashboard()" class="logo">
        <img src="../assets/logo-crm2.png" alt="">
      </div>
      <ul>
        <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> <mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLink="/user" routerLinkActive="active"><mat-icon>person</mat-icon>Clients</li>
      </ul>
    </div>

    <div class="sidenav-bottom">
      <a href="/">Imprint</a>
      <a href="/">Privacy Policy</a>
    </div>
  </mat-drawer>

  <!-- TOP BAR -->

  <div class="sidenav-content">
    <mat-toolbar>
      
        <button mat-icon-button (click)="drawer.toggle()" class="icon">
          <mat-icon>menu</mat-icon>
        </button>
        
        <!-- <span>SIMPLE CRM</span> -->
    </mat-toolbar>

    <!-- ROUTER CONTENT -->
    
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>

