<mat-card class="profile-header">
    <h1>Customer Base</h1> 
</mat-card>

<mat-card appearance="outlined">
    <mat-card-header>
        <div class="table-header-element first">
            COMPANY
        </div>
        <div class="table-header-element first">
            CONTACT PERSON
        </div>
        <div class="table-header-element second">
            CITY
        </div>
    </mat-card-header>
    <mat-card-content>

        <div *ngFor="let group of groupedUsers">
        
            <div class="letter">{{ group.letter }}</div>
    
            <div *ngFor="let user of group.users" (click)="showUserDetails(user)" class="table-row">
                <div class="table-element first">
                    {{ user.company }}
                </div>
                <div class="table-element first">
                    {{ user.firstName }} {{ user.lastName }}
                </div>
                <div class="table-element second">
                    {{ user.city }}
                </div>
            </div>
    
        </div>
    </mat-card-content>
</mat-card>

<button (click)="openDialog()" mat-fab color="primary" 
matTooltip="Add User" [matTooltipPosition]="'above'">
    <mat-icon>person_add</mat-icon>
</button>