<mat-card class="profile-header">
    <h1>Privacy Policy</h1> 
</mat-card>

<h2>General information</h2>
<p>WWW: https://axel-zimmermann.com</p>
<p>Name of the service provider: Axel Zimmermann</p>

<p>Fuhlsbüttler Straße 415C</p>
<p>DE-22309 Hamburg</p>
<p>Phone: +49 (0)1626963474p</p>
<p>Mail: axel.zimmermann89&#64;gmail.com</p>


<h2>Address and contact</h2>
<p>Our offer contains links to external third-party websites, over whose content we have no influence. 
    Therefore, we cannot accept any liability for this external content. The respective provider or 
    operator of the pages is always responsible for the content of the linked pages. The linked pages 
    were checked for possible legal violations at the time of linking. Illegal content was not 
    recognizable at the time of linking. However, permanent control of the content of the linked pages 
    is not reasonable without concrete evidence of a legal violation. 
    If we become aware of any legal violations, we will remove such links immediately.</p>


<h2>Liability for links</h2>
<p>The content of our pages was created with the greatest care. However, we cannot guarantee the accuracy, 
    completeness and timeliness of the content. However, as a service provider, we are not obligated to monitor 
    submitted or stored third-party information or to search for circumstances that indicate illegal activity. 
    Obligations to remove or block the use of information in accordance with general laws remain unaffected. 
    In this case, liability is only possible at the time of knowledge about a specific violation of law. 
    If we become aware of such violations of law, we will remove this content immediately.</p>


<p>Created by impressum-generator.info - powered by abfindungshero.de</p><p>privacy works!</p>
